.main {
    width: 960px;
    min-height: 600px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    background-color: rgb(67, 221, 21);
}
.header {
    width: 938px;
    height: 200px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    background-color: blue;

}
.header h1 {
    text-align: center;
   font-size: 50px;   
   align-items: center;
   margin-top: 73px;
   color: #fff;
   
}

.topnav {
    width: 938px;
    height: 30px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    background-color: aqua;
    font color: #000;
  
   
}
nav {
    align-items: center;
    text-align: center;
}
nav a {
     font-size: 28px;
     align-items: center;
     text-align: center;
     margin: 30px;
     text-decoration: none;
     color: #000000;

    
}
nav a:hover{
    background-color: orangered;
    border-radius: 3px orange solid ;
}
.topnav ul {
    list-style: none;
  

}
.content {
    width: 938px;
    min-height: 500px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    background-color: beige;

}
.sectionone {
    width: 293px;
    min-height: 478px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    float: left;
    font-size: 14px;

}
.sectionone h2 {
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: orangered;
    border-radius: 10px;
    color: #fff;
}

.sectiontwo {
    width: 293px;
    min-height: 478px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    float: left;
    font-size: 14px;


}
.sectiontwo h2 {
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: orangered;
    border-radius: 10px;
    color: #fff;
  
}
.sectionthree {
    width: 293px;
    min-height: 478px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;
    float: left;
    font-size: 14px;

}
.sectionthree h2 {
    align-items: center;
    font-size: 30px;
    text-align: center;
    background-color: orangered;
    border-radius: 10px;
      color: #fff;
}
.footer {
    width: 938px;
    min-height: 150px;
    border: 3px navy solid;
    padding: 5px;
    margin: 3px auto;


}
.footer p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    
